<div class="container section-nude">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
    <div class="col-md-4 col-sm-12 col-lg-3 col-xs-12" ng-repeat="user in users">
      <div class="card-container manual-flip">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img src="/img/Google-Now-Backgrounds-San-Francisco-Day.jpg"/>
                </div>
                <div class="user">
                    <img class="img-circle" src="http://api.skype.com/users/tarasdmytrus/profile/avatar"/>
                </div>
                <div class="content">
                    <div class="main">
                        <h6 class="name">{{user.name + " "  + user.surname| limitTo : 16 }}
                          <span ng-if="checkLength(user.name + user.surname)">...<span>
<!--                           &nbsp;
                          <span>{{user.surname  | limitTo : 9 }}</span>
                          <span ng-if="checkLength(user.surname)">...<span> -->
                        </h6>
                        <!-- <h3 class="name" style="margin-top:0">{{user.surname}}</h3> -->
                        <p class="profession">Product Manager</p>
                        <h5 style="font-size: 14px;"><i class="fa fa-map-marker fa-fw text-muted"></i> Paris, France</h5>
                        <h5 style="font-size: 14px;"><i class="fa fa-building-o fa-fw text-muted"></i> Creative Tim Inc. </h5>
                        <h5 style="font-size: 14px;"><i class="fa fa-envelope-o fa-fw text-muted"></i> inna@creative-tim.com</h5>
                        <h5><a href="#/candidate/{{user._id}}">View</a></h5>
                    </div>
                    <div class="footer">
                      <button class="btn btn-simple" onclick="rotateCard(this)" ng-click="print(user)">
                          <i class="fa fa-mail-forward"></i> Manual Flip
                      </button>
                    </div>
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                </div>
                <div class="content">
                    <div class="main">
                        <h4 class="text-center">Experince</h4>
                        <p>Inna was working with our team since 2012.</p>
                        <h4 class="text-center">Areas of Expertise</h4>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                    <div class="social-links text-center">
                        <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                        <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->
      </div> <!-- end card-container -->
    </div>
  </div>
</div>